<div class="edit-photo">
  <div class="edit-photo-container">
    <h2>Edit Photo Details</h2>

    <div class="photo-form-container">
      <form id="photo-form" class="form">
        <input type="text" name="title" value="<%= @entry[:title] %>" placeholder="Title this photo" required/>
        <input type="text" name="blurb" value="<%= @entry[:blurb] %>" placeholder="Write something about this photo..."/>

        <div id="file-dropper" class="file-dropper">
          <p>drag a file here to update</p>
        </div>

        <% if false %>
        <div id="progress-bar" class="progress-bar hidden">
          <div id="progress-bar-filler" class="progress-bar-filler"></div>
        </div>
        <% end %>
      </form>

      <div class="submit">
        <button id="submit" class="primary">Submit</button>
        <a href="/manage"><button>Cancel</button></a>
      </div>
    </div>
  </div>
</div>

<script src="/photo_form.js"></script>
<script type="text/javascript" charset="utf-8">
  document.addEventListener('DOMContentLoaded', () => {
    photoFormSetup(
      '/photos/<%= @entry.document_id %>',
      () => location.href = '/#photo-<%= @entry.document_id %>',
      console.log
    );
  });
</script>

<% if false %>
<script type="text/javascript" charset="utf-8">
  submit = () => {
    const form = document.forms.namedItem('photo-form');

    const formData = new FormData(form);
    const request = new XMLHttpRequest();

    const progressBar = document.getElementById('progress-bar');
    const progressBarWidth = progressBar.clientWidth;
    const progressBarFiller = document.getElementById('progress-bar-filler');

    request.upload.addEventListener('progress', (event) => {
      const ratio = event.loaded / event.total;
      console.log(ratio);
      progressBarFiller.style.width = `${ratio * progressBarWidth}px`;
      progressBarFiller.innerText = `${ratio * 100}%`;
    });
    //
    if (form.elements['photo'].value) {
      progressBarFiller.innerText = '0%';
      progressBar.classList.remove('hidden');
    }
    //
    request.onreadystatechange = () => {
      if (request.readyState === XMLHttpRequest.DONE) location.href = '/';
    };

    request.open('POST', '/photos/<%= @entry.document_id %>', true);
    request.send(formData);
  }
</script>
<% end %>
